@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@model SAMS.Web.Models.Account.LoginFormViewModel
@section Styles
{
    @Html.IncludeStyle("~/content/admin/css/esh-base.css")
    @Html.IncludeStyle("~/Views/Account/Login.css")
    @Html.IncludeStyle("~/libs/jquery-uniform/css/uniform.default.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/Login.js")
    @Html.IncludeScript("~/libs/jquery-uniform/jquery.uniform.min.js")

}

<div class="esh-content" id="facilitator-reglpt">
    <section class="esh-block clearfix">
        <div class="esh-wrapper esh-max-1010">
            <section class="esh-login-img">
                <img src="~/Content/admin/img/login-img1.png" />
            </section>
            <section class="esh-login-reg-wrap esh-theme-light">
                <div class="title">
                    <h3 id="lptTitle">账号登录</h3>
                </div>
                <div class="esh-form-box">
                    <form id="LoginForm" class="login-box" 
                          action="@(Url.Action("Login", "Account"))?returnUrl=@(Model.ReturnUrl)"
                          method="POST">

                        <input type="text" class="form-control" id="EmailAddressInput"
                               placeholder="@L("UserNameOrEmail")" required
                               maxlength="@SAMS.Users.User.MaxEmailAddressLength">

                        <input type="password" class="form-control" id="PasswordInput" placeholder="@L("Password")"
                               required maxlength="@SAMS.Users.User.MaxPlainPasswordLength">
                        <input type="submit" id="LoginButton" value="登 录" class="btn green">
                        <div class="esh-controls clearfix">
                            <label class="pull-left">
                                <div class="checker" id="uniform-IsAutoLogin">
                                    <span>
                                        <input data-val="true" data-val-required="The IsAutoLogin field is required."
                                               id="RememberMeInput" name="RememberMeInput" type="checkbox" value="true">
                                    </span>
                                </div>
                                下次自动登录
                            </label>

                        </div>
                        <input id="ReturnUrlHash" type="hidden" name="returnUrlHash" />
                        <input type="hidden" id="TenancyName" value="">
                    </form>
                </div>
            </section>
        </div>
    </section>

</div>
