@using Abp.Extensions
@using SAMS.Web.Areas.Admin.Models.Common.Modals
@model SAMS.Web.Areas.Admin.Models.WorkOrder.ReportModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">填写回单</h4>
</div>
<form class="form-horizontal" data-ajax="true" data-ajax-begin="showPopLoading" 
      data-ajax-complete="hidePopLoading" data-ajax-failure="showException" 
      data-ajax-success="editSucess" id="editForm" method="post">
    
    <div class="modal-body">
        <div class="esh-modal-lg">
            <!-- BEGIN FORM-->
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                <label class="control-label col-md-2">设备序号<span class="required">*</span></label>
                <div class="col-md-9">
                    <input class="form-control" data-val="true"
                           data-val-length="设备序列号不能超过50个字符"
                           data-val-length-max="50" data-val-regex="不能包含空字符"
                           data-val-regex-pattern="^[^\s]+$"
                           data-val-required="设备序列号不能为空"
                           id="SerialNo" name="SerialNo" placeholder="请输入设备序列号"
                           data-val-remote="设备序列号已存在"
                           data-val-remote-additionalfields="*.SerialNo,*.Id"
                           data-val-remote-url="/admin/equipmentarchive/checkserialno"
                           type="text" value="@Model.SerialNo" />
                    <span class="field-validation-valid esh-error-lable"
                          data-valmsg-for="SerialNo" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">处理方案</label>
                <div class="col-md-9 ">
                    <textarea class="form-control" cols="20" data-val="true" data-val-length="长度不能超过150个字符"
                              data-val-length-max="150" id="Dealfa" name="Dealfa"
                              placeholder="请输入处理信息(150个字以内)" rows="3">@Model.Dealfa</textarea>
                        <span class="field-validation-valid esh-error-lable" data-valmsg-for="ProcessDesc" data-valmsg-replace="true"></span>
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label col-md-2">在保状态</label>
                <div class="col-md-9">
                    <select id="GuaranteedState" class="form-control">
                        <option value="true" @(Model.GuaranteedState ? "selected" : "")>保内</option>
                        <option value="false" @(Model.GuaranteedState ? "" : "selected")>保外</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">保修期至</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(x => x.Warrenty, new
                {
                    Value = (Model.Warrenty.HasValue ? Model.Warrenty.Value.ToString("yyyy-MM-dd") : ""),
                    @class = "form-control date-picker",
                    onblur = "clearDate(this) "
                })
                </div>
            </div>
           
           

            <div class="form-group">
                <label class="control-label col-md-2">
                    相关图片
                </label>
                <div class="col-md-9">
                    <input id="filePortrait" name="filePortrait[]" type="file" accept="image/jpeg,image/png,image/jpg" style="display:none" class="file-loading" />
                    <button type="button" onclick="document.getElementById('filePortrait').click()" 
                            class="btn default file-button"></button>
                    <div class="esh-fileinput-tip clearfix">
                        请上传jpg、png图片附件，最多可上传4张，单张大小不要超过2M。
                    </div>
                    <div class="clearfix">
                        <ul class="esh-file-group clearfix" id="filePortrait_ul">
                            @foreach (var p in Model.Photos)
                            {
                            <li>
                                <input id="ImgPaths" name="ImgPaths" type="hidden" value="@p" />
                                <button type="button" onclick="delelteImgPaths(this)" class="close" 
                                        title="删除" name="" file_name="" id=""></button>
                                <img src="/upload/@p" />
                            </li>
                            }
                        </ul>
                        <ul id="ulimg" class="hidden">
                            <li>
                                <input id="ImgPaths" name="ImgPaths" type="hidden" value="" />
                                <button type="button" onclick="delelteImgPaths(this)" class="close" title="删除" name="" file_name="" id=""></button>
                                <img src="" />
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">使用科室</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.Office, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Office, "",
                   new { @class = "field-validation-valid esh-error-lable" })
            </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">科室联系人</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.OfficePerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OfficePerson, "",
                   new { @class = "field-validation-valid esh-error-lable" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">联系人职务</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.OfficePosition, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OfficePosition, "",
                   new { @class = "field-validation-valid esh-error-lable" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">联系人电话</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.OfficeTel, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OfficeTel, "",
                   new { @class = "field-validation-valid esh-error-lable" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">联系人手机</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.OfficeMobile, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OfficeMobile, "",
                   new { @class = "field-validation-valid esh-error-lable" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">市内交通费</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.TrafficUrban, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TrafficUrban, "",
                   new { @class = "field-validation-valid esh-error-lable" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">长途交通费</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.TrafficLong, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TrafficLong, "",
                   new { @class = "field-validation-valid esh-error-lable" })
                </div>
            </div>
         
            <div class="form-group">
                <label class="control-label col-md-2">住宿费</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.HotelEx, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.HotelEx, "",
                   new { @class = "field-validation-valid esh-error-lable" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">补助</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.Supply, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Supply, "",
                   new { @class = "field-validation-valid esh-error-lable" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">其他费用</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(x => x.OtherEx, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OtherEx, "",
                   new { @class = "field-validation-valid esh-error-lable" })
                </div>
            </div>
            <!-- END FORM-->
           
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
        <button type="button" onclick="report_save()" class="btn green">确定</button>
    </div>
</form>
