@using Abp.Web.Mvc.Extensions
@using System.Web.Optimization
@{
    SetAntiForgeryCookie();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Bundles/weui/css")
    @Scripts.Render("~/Bundles/mobile/js")
</head>
<body ontouchstart>
    
        @RenderBody()
    <div class="weui_cells_title" style="height:45px">&nbsp;</div>
    <div class="weui_tab tab-bottom" style="height:50px">
        
        <a href="/WorkOrder/index" class="weui_tabbar_item @(ViewBag.ActiveMenuItemName == "workorder" ? "weui_bar_item_on" : "")">
            <div class="weui_tabbar_icon">
                <i class="icon icon-115 f24 f-gray "></i>
            </div>
            <p class="weui_tabbar_label">工单</p>
        </a>
        <a href="" class="weui_tabbar_item @(ViewBag.ActiveMenuItemName == "report" ? "weui_bar_item_on" : "") ">
            <div class="weui_tabbar_icon">
                <i class="icon icon-89 f24 f-gray "></i>
            </div>
            <p class="weui_tabbar_label">报表</p>
        </a>
    </div>
   
    

</body>
</html>
