@{
    Layout = null;
}

@model SAMS.Web.Areas.StaffMobile.Models.WorkOrder.ReportModel
@using SAMS.WorkOrders
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/mui.min.css" rel="stylesheet" />
    <link href="~/Content/mui.indexedlist.css" rel="stylesheet" />
    <link href="~/Content/upload.css" rel="stylesheet" />
    <style>
        
        .mui-table-view-cell:after {
            left: 0%;
        }
        input[type=text] ,input[type=tel]{
        
           width:60%;
           border:none;
              
        }
        .inputdef {
           font-size:14px;
           width:80%;
           transform:translate(0px,-10px);
           -webkit-transform:translate(0px,-10px);
           -o-transform:translate(0px,-10px);
           -moz-transform:translate(0px,-10px);

        }
    </style>
</head>

<body>
    <div class="mui-content">
        <div class="mui-table-view">
            <p class="mui-text-center" style="color:red;font-size:18px;">以下各项均为必填*</p>
        </div>
        <div class="mui-table-view">
            <input type="hidden" name="orderID"  id="orderID" value="@Model.WorkOrder.Id" />
            <div class="mui-table-view-cell">
                <label>设备名称<input type="text" id="SerialName" Name="SerialName" value="@Model.WorkOrder.ProductName" placeholder="请输入设备名称" /></label>

            </div>
            <div class="mui-table-view-cell">
                <label>设备序号<input type="text" id="SerialNo" Name="SerialNo" value="@Model.WorkOrder.SerialNo" placeholder="请输入设备序号"/></label>
                
            </div>
            <div class="mui-table-view-cell">
                <label>工程师<input type="text" id="Engineer" Name="Engineer" value="@Model.WorkOrder.AssignedPersonName" placeholder="请输入工程师"  /></label>
            </div>


       </div>
       <div class="mui-table-view" style="margin-top:10px;">
            <div class="mui-table-view-cell">
                <label>客户名称<input type="text" id="CustomName" Name="CustomName" value="@Model.WorkOrder.CustomerName" placeholder="请输入客户名称" /></label>

            </div>
            <div class="mui-table-view-cell">
                <label>科室名称<input type="text" id="Office" Name="Office" value="@Model.WorkOrder.Office" placeholder="请输入科室名称" /></label>

            </div>
            <div class="mui-table-view-cell" style="display:none;">
                <label>科室电话<input type="tel" id="OfficeTel" Name="OfficeTel" value="@Model.WorkOrder.OfficeTel" placeholder="请输入科室电话" /></label>

            </div>
            <div class="mui-table-view-cell">
                <label>科室联系人<input type="text" id="OfficePerson" Name="OfficePerson" value="@Model.WorkOrder.OfficePerson" placeholder="请输入科室联系人" /></label>

            </div>
            <div class="mui-table-view-cell">
                <label>联系人手机<input type="tel" id="OfficeMobile" Name="OfficeMobile" value="@Model.WorkOrder.OfficeMobile" placeholder="请输入联系人手机" /></label>

            </div>
            <div class="mui-table-view-cell">
                <label>联系人职务<input type="tel" id="OfficePosition" Name="OfficePosition" value="@Model.WorkOrder.OfficePosition" placeholder="请输入联系人职务" /></label>

            </div>
           

            @if (Model.WorkOrder.ServiceType.Equals(ServiceType.Install))
            {

                <div class="mui-table-view-cell">
                    <label>装机时间<input type="text" id="ServiceTime" Name="ServiceTime" value="@Model.WorkOrder.ServiceTime" placeholder="请输入装机时间" /></label>

                </div>
                <div class="mui-table-view-cell">
                    <label>保修期<input type="datetime" id="Warrenty" Name="Warrenty" value="@Model.WorkOrder.Warrenty" placeholder="请输入保修期(年-月-日)" /></label>

                </div>
                <div class="mui-table-view-cell" style="background:transparent;background-color:#EEEEEE;display:none;">
                    <p>
                        备件
                        @if (Model.WorkOrder.BillStatus.Equals(BillStatus.Complete) || Model.WorkOrder.BillStatus.Equals(BillStatus.Dispatch))
                        {
                            <a style="right: 0px;" class="mui-right mui-text-right mui-pull-right" href="#popwindows_accessory">添加</a>
                        }
                    </p>
                </div>
                if (Model.WorkOrder.AccessoryEntry.Count > 0)
                {
                    <ul class="mui-table-view" id="accessoryList">
                        @foreach (var item in Model.WorkOrder.AccessoryEntry)
                    {
                            <li class="mui-table-view-cell" style="height:30vw;">

                                <input type="hidden" name="aid" class="aid" value="@item.AccessoryId" />
                                <input type="hidden" name="eid" class="eid" value="@item.Id" />
                                <div>
                                    <p name="accName" style="position: absolute;top:25%;">@item.AccessoryName @item.AccessoryModel</p>
                                    <span class="mui-icon mui-icon-trash mui-pull-right" onclick="delAccessory(this)"></span>
                                    @*<div class="mui-numbox mui-pull-right">
                                            <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                                            <input class="mui-numbox-input" type="number"  name="aCount" value="@item.Count" />
                                            <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
                                        </div>*@
                                    <div>
                                        <div style="position: absolute;top:50%;">
                                            <h6 class="mui-pull-left">旧件版号</h6>
                                            <input class="mui-pull-right inputdef " placeholder="请输入旧件版号" id="OldSerial" name="OldSerial" type="text" value="@item.OldSerials" />

                                        </div>
                                        <div style="position: absolute;top:80%;">
                                            <h6 class="mui-pull-left">新件版号</h6>
                                            <input class="mui-pull-right inputdef " placeholder="请输入新件版号" id="NewSerial" name="NewSerial" type="text" value="@item.NewSerials" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <ul class="mui-table-view" id="accessoryList" style="display:none;"></ul>
                    <div class="mui-table-view-cell" id="noAccessory" style="display:none;">
                        <p>
                            尚未添加备件
                        </p>

                    </div>
                }
                <div class="mui-table-view-cell" style="background:transparent;background-color:#EEEEEE;display:none;">
                    <p>
                        故障
                        @if (Model.WorkOrder.BillStatus.Equals(BillStatus.Complete) || Model.WorkOrder.BillStatus.Equals(BillStatus.Dispatch))
                        {
                            <a style="right: 0px;" class="mui-right mui-text-right mui-pull-right" href="#popwindows_fault">添加</a>
                        }
                    </p>
                </div>
                if (Model.WorkOrder.FaultEntry.Count > 0)
                {
                    <ul class="mui-table-view" id="faultList" style="display:none;">
                        @foreach (var item in Model.WorkOrder.FaultEntry)
                    {
                            <li class="mui-table-view-cell">
                                <input type="hidden" name="fid" value="@item.Fault.Id" />
                                <input type="hidden" name="eid" class="eid" value="@item.Id" />
                                <p>
                                    @item.Fault.Name
                                    <span class="mui-icon mui-icon-trash mui-pull-right" onclick="delFault(this)"></span>
                                </p>
                            </li>
                        }
                    </ul>

                }
                else
                {
                    <ul class="mui-table-view" id="faultList" style="display:none;"></ul>
                    <div class="mui-table-view-cell" id="noFault" style="display:none;">
                        <p>
                            尚未添加故障
                        </p>

                    </div>
                }
            }
            else if (Model.WorkOrder.ServiceType.Equals(ServiceType.Repair))
            {
                <div class="mui-table-view-cell">
                    <label>故障现象<textarea  id="faultap" Name="faultap"  value="" rows="5" placeholder="请输入故障现象" >@Model.WorkOrder.Faultap</textarea></label>

                </div>
                <div class="mui-table-view-cell">
                    <label>处理方案<textarea id="dealfa" Name="dealfa" value=""  rows="5" placeholder="请输入处理方案">@Model.WorkOrder.Dealfa</textarea></label>

                </div>

                <div class="mui-table-view-cell">
                    <label>保修期<input type="datetime" id="Warrenty" Name="Warrenty" value="@Model.WorkOrder.Warrenty" placeholder="请输入保修期(年-月-日)" /></label>

                </div>
                <div class="mui-table-view-cell" style="background:transparent;background-color:#EEEEEE;">
                    <p>
                        备件
                        @if (Model.WorkOrder.BillStatus.Equals(BillStatus.Complete) || Model.WorkOrder.BillStatus.Equals(BillStatus.Dispatch))
                        {
                            <a style="right: 0px;" class="mui-right mui-text-right mui-pull-right" href="#popwindows_accessory">添加</a>
                        }
                    </p>
                </div>
                if (Model.WorkOrder.AccessoryEntry.Count > 0)
                {
                    <ul class="mui-table-view" id="accessoryList">
                        @foreach (var item in Model.WorkOrder.AccessoryEntry)
                    {
                            <li class="mui-table-view-cell" style="height:30vw;">

                                <input type="hidden" name="aid" class="aid" value="@item.AccessoryId" />
                                <input type="hidden" name="eid" class="eid" value="@item.Id" />
                                <div>
                                    <p name="accName" style="position: absolute;top:25%;">@item.AccessoryName @item.AccessoryModel</p>
                                    <span class="mui-icon mui-icon-trash mui-pull-right" onclick="delAccessory(this)"></span>
                                    @*<div class="mui-numbox mui-pull-right">
                                            <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                                            <input class="mui-numbox-input" type="number"  name="aCount" value="@item.Count" />
                                            <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
                                        </div>*@
                                    <div>
                                        <div style="position: absolute;top:50%;">
                                            <h6 class="mui-pull-left">旧件版号</h6>
                                            <input class="mui-pull-right inputdef " placeholder="请输入旧件版号" id="OldSerial" name="OldSerial" type="text" value="@item.OldSerials" />

                                        </div>
                                        <div style="position: absolute;top:80%;">
                                            <h6 class="mui-pull-left">新件版号</h6>
                                            <input class="mui-pull-right inputdef " placeholder="请输入新件版号" id="NewSerial" name="NewSerial" type="text" value="@item.NewSerials" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <ul class="mui-table-view" id="accessoryList"></ul>
                    <div class="mui-table-view-cell" id="noAccessory">
                        <p>
                            尚未添加备件
                        </p>

                    </div>
                }
                <div class="mui-table-view-cell" style="background:transparent;background-color:#EEEEEE;">
                    <p>
                        故障
                        @if (Model.WorkOrder.BillStatus.Equals(BillStatus.Complete) || Model.WorkOrder.BillStatus.Equals(BillStatus.Dispatch))
                        {
                            <a style="right: 0px;" class="mui-right mui-text-right mui-pull-right" href="#popwindows_fault">添加</a>
                        }
                    </p>
                </div>
                if (Model.WorkOrder.FaultEntry.Count > 0)
                {
                    <ul class="mui-table-view" id="faultList">
                        @foreach (var item in Model.WorkOrder.FaultEntry)
                    {
                            <li class="mui-table-view-cell">
                                <input type="hidden" name="fid" value="@item.Fault.Id" />
                                <input type="hidden" name="eid" class="eid" value="@item.Id" />
                                <p>
                                    @item.Fault.Name
                                    <span class="mui-icon mui-icon-trash mui-pull-right" onclick="delFault(this)"></span>
                                </p>
                            </li>
                        }
                    </ul>

                }
                else
                {
                    <ul class="mui-table-view" id="faultList"></ul>
                    <div class="mui-table-view-cell" id="noFault">
                        <p>
                            尚未添加故障
                        </p>

                    </div>
                }
               
            }
            else
            {



            }
           </div>
           <div class="mui-table-view" style="margin-top:10px;">
               <div class="mui-table-view-cell">
                   <label>市内交通￥<input type="text" id="trafficUrban" Name="trafficUrban" value="@Model.WorkOrder.TrafficUrban" placeholder="请输入市内交通费" /></label>

               </div>
               <div class="mui-table-view-cell">
                   <label>长途交通￥<input type="text" id="trafficLong" Name="trafficLong" value="@Model.WorkOrder.TrafficLong" placeholder="请输入长途交通费" /></label>

               </div>
               <div class="mui-table-view-cell">
                   <label>住宿费￥<input type="text" id="hotelEx" Name="hotelEx" value="@Model.WorkOrder.HotelEx" placeholder="请输入住宿费" /></label>

               </div>
               <div class="mui-table-view-cell">
                   <label>补助￥<input type="text" id="supply" Name="supply" value="@Model.WorkOrder.Supply" placeholder="请输入补助" /></label>

               </div>
               <div class="mui-table-view-cell">
                   <label>其他费用￥<input type="text" id="otherEx" Name="otherEx" value="@Model.WorkOrder.OtherEx" placeholder="请输入其他费用" /></label>

               </div>



           </div>



  <div class="mui-input-row mui-table-view" id="uploaddiv" style="min-height:35vw;overflow:scroll;">
    <div class="border border-t upload-img" style="top:0px;">
        <!--上传图片-->
        <div class="clearfix upload-btn" id="children-bg">
            <label class="label">上传记录单</label>
            <span class="tips" id="imageCount">已添加0张</span>
            <!--上传图片按钮  -->
            <span class="upload-addbtn">
                <input type="file" accept="image/jpeg,image/jpg,image/png,image/jp2,image/bmp" id="file">
            </span>

        </div>
        @if (Model.WorkOrder.Photos.Count > 0)
        {
            
           <div class="upload-img-list" style="margin-top:2vw;">
               @foreach (var item in Model.WorkOrder.Photos) {

                    <div class="pic-preview smallyulan success">
                         <div class="del none" style="opacity:1;z-index:999;" onclick="delPicture(this)">x</div>
                         <div class="img-wrap smallimg"><img src='/upload/@item.FilePath?w=120&h=120' id="uploadPic"/></div>
                         <input type="hidden" id="filepath" name="filepath" value="@item.FilePath" />
                         <input type="hidden" id="filetype" name="filetype" value="@item.FileType" />
                    </div>
               }
          </div>

      
        }
        else
        {
            <div class="upload-img-list" style="margin-top:2vw;">

            </div>
        }
        
    </div>
    <div class="upload-tishi">图片正在上传，请稍后...</div>
 </div>

    @if (Model.WorkOrder.BillStatus.Equals(BillStatus.Complete) || Model.WorkOrder.BillStatus.Equals(BillStatus.Dispatch))
    {
        <button class="mui-btn mui-btn-primary mui-btn-block" style="margin-top:2vw;" type="submit" onclick="Save()">确认完工</button>
    }
</div>

@if(Model.WorkOrder.BillStatus.Equals(BillStatus.Complete) || Model.WorkOrder.BillStatus.Equals(BillStatus.Dispatch))
{
    <div id="popwindows_fault"  class="mui-popover" style="height:50vw;overflow:auto;" >
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view">
                    @foreach (var item in Model.Faults.Items)
                    {
                        <li class="mui-table-view-cell">
                            <a href="#" onclick="SelectFault('@Newtonsoft.Json.JsonConvert.SerializeObject(item)')">
                                @item.Name
                            </a>
                        </li>
                    }
                 </ul>
                
            </div>
        </div>
    </div>

    <div class="mui-popover" id="popwindows_accessory" style="height:50vw;overflow:auto;">
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view">
                        
                        @foreach (var item in Model.MyAccessories.Items)
                        {
                            <li class="mui-table-view-cell">
                                <input type="hidden"  name="accID" value="@item.AccessoryId"/>
                                <a href="#" onclick="SelectAccessory('@Newtonsoft.Json.JsonConvert.SerializeObject(item)')">
                                    @item.AccessoryName &nbsp; @item.AccessoryModel 
                                    <span class="mui-badge">@item.Count</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
    </div>

 }
    <script src="~/Areas/StaffMobile/Scripts/zepto.min.js"></script>
    <script src="~/Areas/StaffMobile/Scripts/fx.js"></script>
    <script src="~/Areas/StaffMobile/Scripts/fx_methods.js"></script>
    <script src="~/Areas/StaffMobile/Scripts/mui.min.js"></script>
   
    <script src="~/Areas/StaffMobile/Scripts/qingjs.js"></script>
    <script src="~/Areas/StaffMobile/Scripts/util.js"></script>
    <script src="~/Areas/StaffMobile/Scripts/upload.js"></script>
    <script src="~/Areas/StaffMobile/Scripts/preview.js"></script>
    <script src="~/Areas/StaffMobile/Scripts/upload.detail.js"></script>

    <script type="text/javascript">
        mui.init();
        mui('body').on('shown', '.mui-popover', function (e) {});
        mui('body').on('hidden', '.mui-popover', function (e) {});
        mui('.mui-numbox').numbox();
        mui('.mui-scroll').scroll();


        //XuntongJSBridge.call('getPersonInfo', {}, function (result) {
            
            
        //    //alert(JSON.stringify(result));
        //    if (result.success == true) {
        //        $('#Engineer').val(result.data.name + result.data.userName);


        //    }
        //});

        function ClosePop() {
            mui('.mui-popover').popover('hide');
        }
        function SelectFault(val){
            ClosePop();
            var fault = eval("(" + val + ")");
            var hasExist = false;//是否存在
            $("#faultList li").each(function () {
                var faultID = $(this).find("input[name=fid]").val();
                if (faultID==fault.Id) {
                    hasExist = true;
                    return;
                }
            });
            if (!hasExist) {
                var li= '<li class="mui-table-view-cell">';
                li=li+' <input type="hidden" name="fid"  value="'+fault.Id+'"/>';
                li=li+'    <input type="hidden" name="eid" class="eid" value="" />';
                li=li+'              <p>';
                li=li+                 fault.Name;
                li=li + '                  <span class="mui-icon mui-icon-trash mui-pull-right"  onclick="delFault(this)"></span>';
                li=li+'              </p>';
                li = li + ' </li>';
                $("#noFault").hide();
                $("#faultList").append(li);
            }

        }
        function delFault(el)
        {
            $(el).parent().parent().remove();
            if ($("#faultList li").length == 0) {
                $("#noFault").show();

            }

        }
        function delAccessory(el)
        {
            
            
            $(el).parent().parent().remove();
            if ($("#accessoryList li").length == 0) {
                $("#noAccessory").show();
            }
        }
        function delPicture(el) {

            $(el).parent().remove();
            watch();

           
        }
        function SelectAccessory(val) {
            ClosePop();
            var accessory = eval("(" + val + ")");
            var hasExist = false;//是否存在
            $("#accessoryList li").each(function () {
                var accessoryID = $(this).find("input[name=aid]").val();
                if (accessoryID == accessory.AccessoryId) {              
                    hasExist = true;
                    return;
                }
            });
            if (!hasExist) {
                var li = '<li class="mui-table-view-cell" style="height:30vw;">';

                li=li+'       <input type="hidden" name="aid" class="aid" value="'+accessory.AccessoryId+'" />';
                li=li+'         <input type="hidden" name="eid" class="eid" value="" />';
                li=li+'        <div>';
                li=li+'            <p name="accName" style="position: absolute;top:25%;">'+accessory.AccessoryName +'|'+accessory.AccessoryModel+'</p>';
                li = li + '            <span class="mui-icon mui-icon-trash mui-pull-right" onclick="delAccessory(this)"></span>';

                //li=li+'            <div class="mui-numbox mui-pull-right">';
                //li=li+'                <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>';
                //li=li+'                <input class="mui-numbox-input" type="number"  name="aCount" value="1"/>';
                //li=li+'                 <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>';
                //li=li+'            </div>';     
               
                li=li+'            <div style="position: absolute;top:50%;">';
                li=li+'               <h6 class="mui-pull-left">旧件版号</h6>';
                li = li + '               <input class="mui-pull-right inputdef " placeholder="请输入旧件版号" id="OldSerial" name="OldSerial" type="text" /> ';
                li=li+'            </div>';
                li=li+'            <div style="position: absolute;top:80%;">';
                li=li+'               <h6 class="mui-pull-left">新件版号</h6>';
                li = li + '               <input class="mui-pull-right inputdef " placeholder="请输入新件版号" id="NewSerial" name="NewSerial" type="text" /> ';
                li = li + '         </div>';
                li = li + '    </div>';
                li=li+'    </li>';


                $("#noAccessory").hide();
                $("#accessoryList").append(li);
                mui('.mui-numbox').numbox();
            }
        }
        function ShowPopLoading()
        {

        }
        function HidePopLoading() {

        }
        function Save() {
            var isValid = true;
            var errormsg = "";
            var tel = $('#OfficeTel').val();            //科室电话
            var phone = $('#OfficeMobile').val();        //科室联系人手机
            var office = $('#Office').val();
            var serialNo = $('#SerialNo').val();
            if (!serialNo) {
                mui.toast('请输入设备序号');
                $('#SerialNo').focus();
                isValid = false
                return;
            }

            if (!office) {
                mui.toast('请输入科室');
                $('#Office').val();
                isValid = false;
                return;
            }
            if ((!phone))
            {
                mui.toast('请输入联系方式');
                  
                isValid = false;
                return;
            }
            if ((!trafficUrban)) {
                mui.toast('请输入市内交通');

                isValid = false;
                return;
            }
            
            if ((!trafficLong)) {
                mui.toast('请输入长途费用');

                isValid = false;
                return;
            }
            if ((!hotelEx)) {
                mui.toast('请输入住宿费用');

                isValid = false;
                return;
            }

            if ((!supply)) {
                mui.toast('请输入补助');

                isValid = false;
                return;
            }
            if ((!otherEx)) {
                mui.toast('请输入其他费用');

                isValid = false;
                return;
            }
            var accessories = new Array();
            $("#accessoryList li").each(function () {

                isValid = true;
                
                var accessoryID = $(this).find("input[name=aid]").val();
                var accessoryName = $(this).find("p[name=accName]").html();
                var OldSerial = $(this).find("input[name=OldSerial]").val();
                var NewSerial = $(this).find("input[name=NewSerial]").val();
                if(accessoryID)
                {
                    
                    if ((OldSerial != null) && (NewSerial != null)) {

                        isVaild = true;
                       
                    } else {

                        isValid = false;
                       
                    }
                   
                    
                }
                
                if (!isValid) {

                    errormsg = accessoryName + "缺少备件版号必要信息!";

                    return false;

                } else {

                    accessories.push({ 'AccessoryId': accessoryID, 'Count': 1, NewSerial: NewSerial, OldSerial:OldSerial });

                }
            });
            if (!isValid) {
                mui.alert(errormsg,"错误");
                return;
            }

            var faults = new Array();
            $("#faultList li").each(function () {
                var faultID = $(this).find("input[name=fid]").val();
                if (faultID) {
                    faults.push({'FaultId':faultID});
                }
            });
            
            var photos = new Array();
            var photoNew = 0;
            var photoCount =$('.upload-img-list >div').size();
            var photoOld=0;
            $(".upload-img-list div").each(function () {
                
               
                var FileName;
                var FileType;
                if (data.photoInfo[photoNew] != null) {
                    FileName = data.photoInfo[photoNew].id;       //图片ID     
                    FileType = data.photoInfo[photoNew].type;
                    photoNew++;
                    
                    if (FileName) {
                        photos.push({ 'FileName': FileName, 'FileType': FileType });
                    }
                } else {
                    if (photoOld == 0){
                    
                        photoOld = photoCount - photoNew;
                        
                    }
                    
                   else {
                        if ($(this).hasClass("del")) {
                            FileName = $(this).parent().parent().find("input[name=filepath]").val();
                            FileType = $(this).parent().parent().find("input[name=filetype]").val();
                            photoOld--;
                        } else if ($(this).hasClass("success")) {
                            FileName = $(this).find("input[name=filepath]").val();
                            FileType = $(this).find("input[name=filetype]").val();
                            photoOld--;
                        }
                      

                        if (FileName) {
                            photos.push({ 'FileName': FileName, 'FileType': FileType });
                        }
                    }
                    
                        
                   
                    
                }

              
            });
            


          

            ShowPopLoading();
            $.ajax({
                url:"/staffMobile/Home/Receipt/",
                type: "POST",
                contentType: 'application/json',
                data:// JSON.stringify({"SerialNo":"4","Accessories":[{'AccessoryId':'1','Count':'1'}],"Faults":[{'FaultId':'3'}],"CustomPhone":"4"}),

                    JSON.stringify({
                    'SerialNo': $('#SerialNo').val(),
                    'Accessories':  accessories,
                    'Faults': faults,
                    'CustomPhone': $('#CustomPhone').val(),
                    'BillId': $('#orderID').val(),
                    'ServiceTime': $('#ServiceTime').val(),
                    'Warrenty': $('#Warrenty').val(),
                    'Office': $('#Office').val(),
                    'OfficeMobile': $('#OfficeMobile').val(),
                    'OfficePerson': $('#OfficePerson').val(),
                    'OfficeTel': $('#OfficeTel').val(),
                    'OfficePosition': $('#OfficePosition').val(),
                    'Accessories': accessories,
                    'Photos': photos,
                    'Faultap': $('#faultap').val(),
                    'Dealfa': $('#dealfa').val(),
                    'TrafficUrban': $('#trafficUrban').val(),
                    'TrafficLong': $('#trafficLong').val(),
                    'HotelEx': $('#hotelEx').val(),
                    'Supply': $('#supply').val(),
                    'OtherEx': $('#otherEx').val()
                  
                }),
                success: function (data) {
                    HidePopLoading();
                    
                    //data.success
                    if (data=="ok") {
                        window.parent.location.href = "/StaffMobile/home/index";
                    } else {
                        mui.alert('保存失败', "错误");
                    }
                },
                error: function (data) {
                    HidePopLoading();
                    mui.alert('保存失败',"错误" );
                }
            })
        }


      

        var data = {
            picUrl: '/workreport/c/file/image/get.json?fileId=',
            queryDraft: '/workreport/modify',
            totalSize: 0,
            photoInfo: [],
            fileInfo: [],
            photos: ''
        }

        
        function watch() {
            var count = $('.upload-img-list >div').size();
           
            if(count<=4){
                $('#uploaddiv').css('height', '35vw');

            
            }else if(count<=8){
                $('#uploaddiv').css('height', '60vw');
            
            } else if (count<=12) {
                $('#uploaddiv').css('height', '90vw');
            }

        }
       
        window.onload = function () {

            upload();
           
            watch();


            


        };

    </script>
</body>



</html>
